@{
    @model CRUD_TokenLab.Models.Usuario
    ViewData["Title"] = "Login Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="./css/site.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>
        <p>
            @Html.ValidationSummary()
        </p>
        <!-- Login Form -->
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" asp-for="Login" id="Login" class="fadeIn second" name="Login" placeholder="login">
            <input type="text" asp-for="Senha" id="Senha" class="fadeIn third" name="Senha" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a asp-action="Registro" class="btn btn-secondary btn-block"> <i class="fa fa-table"></i>Registre-se</a>
        </div>

    </div>
</div>